<div class="row">
  <div class="small-12 columns">
    <h1>Project successfully built!</h1>
    <ul>
      <li>A noreply gmail account for user administration can be set up in <span class="label secondary radius">config/local.js</span></li>
      <li>Site settings can be changed in <span class="label secondary radius">config/globals.js</span></li>
      <li>Password settings can be changed in <span class="label secondary radius">config/passwords.js</span></li>
      <li>Site notification copy can be changed in <span class="label secondary radius">config/notifications.js</span></li>
    </ul>
    <p>Don't forget to set up a gmail accoung before attempting to register a user!</p>
    <a href="/register" class="button small radius">Create a User</a>
  </div>
</div>